{% load static %}

<div class="app-sidebar__inner">
    <ul class="vertical-nav-menu">
        <li>
            <a href="{% url 'adminPanel:hr-dashboard' %}" class="mm-active">
                Dashboard
            </a>
        </li>
        <li class="app-sidebar__heading">
             Accounts
        </li>
        <li>
            <a href="#">
                Candidate
            </a>
            <ul>
                <li>
                    <a href="{% url 'adminPanel:hr-candidate-manage' %}">
                        Manage Candidate
                    </a>
                </li>
                
            </ul>
        </li>
        
    </ul>
</div>