{% load static %}

<div class="app-sidebar__inner">
    <ul class="vertical-nav-menu">
        <li>
            <a href="{% url 'adminPanel:hr-dashboard' %}" class="mm-active">
                Dashboard
            </a>
        </li>
        <li class="app-sidebar__heading">
             Accounts
        </li>
        <li>
            <a href="{% url 'adminPanel:hr-candidate-manage' %}">
                All Candidate
            </a>
            
        </li>
        <li>
            <a href="{% url 'adminPanel:hr-candidate-selected' %}">
                Selected Candidate
            </a>
            
        </li>
        <li>
            <a href="{% url 'adminPanel:hr-candidate-rejected' %}">
                Rejected Candidate
            </a>
            
        </li>
        
    </ul>
</div>