{% load static %}

<div class="app-sidebar__inner mt-3">
    <ul class="vertical-nav-menu">
        <li>
            <a href="{% url 'adminPanel:admin-dashboard' %}" class="mm-active">
                Dashboard
            </a>
        </li>
        <!-- Profile Image -->
        <div class="profile mt-0 mb-0">
            <!-- <div class="profile-img">
                <a href="#" class="brand-link">
                    <img src="#" alt=""> &nbsp;
                </a>
            </div> -->
            <br>
            <div class="name">
                <span class="d-block"><b class="btn btn-primary btn-block">{{user.username}}</b></span>
                <img src="" alt="">
            </div>
        </div>
        <!-- //Profile Image -->
        <hr class="mt-0">
        <li>
            {% url 'adminPanel:add-company-hr' as add_hr %}
            <a href="{{add_hr}}" class="{% if request.path == add_hr %} active {% endif %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Add HR
            </a>
        </li>
        <li>
            <a href="{% url 'adminPanel:manage-compay-hr' %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Manage HR
            </a>
        </li>
        <li>
            <a href="{% url 'adminPanel:add-staff' %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Add Staff
            </a>
        </li>
        <li>
            <a href="{% url 'adminPanel:manage-staff' %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Manage Staff
            </a>
        </li>
        <li>
            <a href="{% url 'adminPanel:add-freelancer' %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Add Freelancer
            </a>
        </li>
        <li>
            <a href="{% url 'adminPanel:manage-freelancer' %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Manage Freelancer
            </a>
        </li>
        <li>
            <a href="{% url 'adminPanel:add-candidate' %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Add Candidate
            </a>
        </li>
        <li>
            <a href="{% url 'adminPanel:manage-candidate' %}">
                <span class="icon">
                    <i class="ri-add-line"></i>
                </span>
                Manage Candidate
            </a>
        </li>
    </ul>
</div>