{% load static %}

<div class="app-sidebar__inner">
    <ul class="vertical-nav-menu">
        <li>
            <a href="{% url 'admin-dashboard' %}" class="mm-active">
                Dashboard
            </a>
        </li>
        <li class="app-sidebar__heading">
            User Accounts
        </li>
        <li>
            <a href="#">
                HR
            </a>
            <ul>
                <li>
                    <a href="{% url 'add-company-hr' %}">
                        Create Account
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-compay-hr' %}">
                        Manage Account
                    </a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                Staff
            </a>
            <ul>
                <li>
                    <a href="{% url 'add-staff' %}">
                        
                        Create Account
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-staff' %}">
                        
                       Manage Account
                    </a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                
                Freelancer
                
            </a>
            <ul>
                <li>
                    <a href="{% url 'add-freelancer' %}">
                        
                        Create Account
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-freelancer' %}">
                        
                        Manage Account
                    </a>
                </li>
                
            </ul>
        </li>
        
        
        <!-- <li class="app-sidebar__heading">Widgets</li>
        <li>
            <a href="dashboard-boxes.html">
                <i class="metismenu-icon pe-7s-display2"></i>
                Dashboard Boxes
            </a>
        </li>
        <li class="app-sidebar__heading">Forms</li>
        <li>
            <a href="forms-controls.html">
                <i class="metismenu-icon pe-7s-mouse">
                </i>Forms Controls
            </a>
        </li>
        <li>
            <a href="forms-layouts.html">
                <i class="metismenu-icon pe-7s-eyedropper">
                </i>Forms Layouts
            </a>
        </li>
        <li>
            <a href="forms-validation.html">
                <i class="metismenu-icon pe-7s-pendrive">
                </i>Forms Validation
            </a>
        </li>
        <li class="app-sidebar__heading">Charts</li>
        <li>
            <a href="charts-chartjs.html">
                <i class="metismenu-icon pe-7s-graph2">
                </i>ChartJS
            </a>
        </li>
        <li class="app-sidebar__heading">PRO Version</li>
        <li>
            <a href="https://dashboardpack.com/theme-details/architectui-dashboard-html-pro/"
                target="_blank">
                <i class="metismenu-icon pe-7s-graph2">
                </i>
                Upgrade to PRO
            </a>
        </li> -->
    </ul>
</div>